/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  DESIGN VARIABLES
        Overlay
        Modal Inner
        Modal Close
 */





/*------------------------------------*\
    !DESIGN VARIABLES
\*------------------------------------*/

/**
 * ^Overlay
 */

/* Set the overlay color for your modals.
   @type color */
$modal-overlay-color:              rgba(0, 0, 0, 0.6);


/**
 * ^Modal Inner
 */

/* Set the header padding for your modals.
   @type number */
$modal-header-padding:             0 30px;

/* Set the header padding for your modals.
   @type number */
$modal-body-padding:               0 30px;

/* Set the header padding for your modals.
   @type number */
$modal-footer-padding:             30px;

/* Set the max height for the .modal-body__inner div.
   @type number */
$modal-body-height:               400px;

/* Set margin-bottom for the .modal-body__inner div.
   @type number */
$modal-body-margin-bottom:        78px;

/* Set the inner background color for your modals.
   @type color */
$modal-inner-background-color:     #FFF;


/**
 * ^Modal Close
 */

/* Set the background color of your modal close icon.
   @type color */
$modal-close-background-color:      #000;

/* Set the color of your modal close icon.
   @type color */
$modal-close-color:                 #FFF;
